*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(38, 39, 50);
    scroll-behavior: smooth;
}

a{
    color: #000000;
    text-decoration: none;    
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 88, 175);
    border: 10px solid rgb(42, 88, 175);
    border-radius: 10px;
    border-width: medium;
    margin: 100px;
    margin-bottom: 25px;
    margin-left: 400px;
    margin-right: 400px;
    transition: all ease 300ms;
}   

header:hover{
    box-shadow:2px 2px 10px #000000;
}

h1{
    background-color: rgb(42, 88, 175);
    margin-bottom: 3px;
}

.fond{
    background-color: rgb(42, 88, 175);
    transition: all 300ms;
}

.Redes{
    display: flex;
    background-color: rgb(42, 88, 175);
    justify-content: space-between;
    align-items: center;
}

.imagen{
    background-color: rgb(42, 88, 175);
    transition: all 300ms;
}

.imagen:hover, .ig:hover{
    width: 55px;
    height: 50px;
}

.ig{
    padding-top:3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:rgb(42, 88, 175);
    transition: all 300ms;
}

.list{
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
    margin-bottom: 19px;
}

.indice{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all ease-in 300ms;
    padding-left: 10px;
}

.indice::before{
    content: "-";
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
}


.indice:hover::before{
    opacity: 1;
}

.indice:hover{
    margin-top: 15px;
    margin-bottom: 15px;
}

.subrayado:hover{
    text-decoration: underline;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 88, 175);
    border: 10px solid rgb(42, 88, 175);
    border-radius: 10px;
    border-width: medium;
    margin-top: 25px;
    margin-left: 400px;
    margin-right: 400px;
    transition: all ease 300ms;
}

.caja:hover{
    box-shadow:2px 2px 10px #000000;
}

.intro{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 19px;
}

.habilidades{
    display: flex;
    background-color: rgb(42, 88, 175);
    justify-content: space-between;
    align-items: center;
}

.logos{
    margin-left: 5px;
    position: relative;
    transition: all 300ms;
}

.logos:hover{
    width: 50px;
    height: 50px;
}



.cartel{
    margin: 0px ;
    opacity: 0;
    transition: all 150ms ease-in;
}

button{
    border: none;
    color: #000000;
    text-decoration: none;    
    margin: 0;
}

.top{
    margin-top: 0;
}

.proyectos{
    margin-top: 0;
    margin: 10px;
    transition: all 300ms;
    
}

.proyectos:hover{
    background-color: rgb(86, 137, 232);
    border: none;
    border-radius: 10px 10px;
}

.proyectos:hover *{
    background-color: rgb(86, 137, 232);
    border: none;
}
.proyectos:hover section{
    background-color: rgb(86, 137, 232);
    border: none;
}
.proyectos:hover h3{
    background-color: rgb(86, 137, 232);
    border: none;
}
.proyectos:hover p{
    background-color: rgb(86, 137, 232);
    border: none;
}
.proyectos:hover img{
    background-color: rgb(86, 137, 232);
    border: none;
}
.proyectos:hover .flecha{
    background-color: rgb(86, 137, 232);
    border: none;
    transform: translate(0px, 10px);
}


.exp{
    position: relative;
    display: flex;
    justify-content: start;
    padding-right: 410px;
    margin-top: 10px;
    margin-left: 0px;
    transition: all 300ms;
}

.text{
    text-decoration: none;
    text-align: start;
    display: flex;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 8px;
    transition: all 300ms;
    
}

.flecha{
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
    justify-self: center;
    transform: translate(0px, 10px);
}


.imagenpr{
    width: 0px;
    height: auto;
    display: flex;
    align-self: center;
    justify-self: center;
}

.enlace{
    display: flex;
    justify-self: end;
    align-self: center;
}

.izquierda{
    display: flex;
    align-self: center;
    justify-self: start;
    height: auto;
    width: 0px;
}

.derecha{
    display: flex;
    align-self: center;
    justify-self: end;
    height: auto;
    width: 0px;
}

.fotos{
    display: flex;
    justify-content: space-between;
}

.link{
    display: flex;
    justify-self: end;
}

.final{
    margin-bottom: 100px;
}

@media screen and (max-width: 850px){
    header{
        margin-left: 1px;
        margin-right: 1px;
    }
    header p{
        text-align: center;
    }
    .caja{
        margin-left: 1px;
        margin-right: 1px;
    }
    .intro{
        margin-left: 20px;
        margin-right: 20px;
    }
   /* .proyectos{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
   }  */
   .exp{
    padding-right: 0;
   }
   .flecha{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
   }
}